/*******************************TAG SELECTORS**********************************/
body {
  background-color: #eaf6f6;
}

hr {
  border: none;
  width: 5%;
  background-color: #eaf6f6;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
}

h1, h3 {
  color: #66bfbf;
}

/*****************************CLASS SELECTORS**********************************/
